<div class="login_frame row container-fluid">
    
    <div id="form_placeholder" class="col-md-6">
        <h1 id="header">LOGIN</h1>
        <form id="login_details">
            <div class="form-group">
                <label for="username"><b>Username</b></label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="username"     
                    placeholder="Enter username"
                    #username
                >
            </div>
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    placeholder="Password"
                    #password
                >
            </div>
            <button 
                type="button" 
                class="btn btn-primary"
                (click)="login(username.value, password.value)">
                Submit
            </button>
            <br>
            <br>
            <div class="form-group">Not a user? <a href="/registration">Sign Up</a></div>
        </form>
    </div>
</div>
